@use 'sass:math';
@import "../../../../styles/tm-mixins.scss";
@import "../../../../styles/tm-variables.scss";

.btn {
    border-radius: $br-s;
    border: none;
    color: white;
    padding: math.div($default-padding, 2) $default-padding;
    width: 100%;
}

.btn-primary {
    @include simple-transition(background-color, .3s, $main-color-light, $main-color-dark);
}

.btn-alt {
    @extend .btn;
    border: 1px solid $main-color-light;
    background-color: transparent;
    color: white;
    
    @include simple-transition(box-shadow, .3s, none, 0 0 .4rem rgba(white, .3));
}

.btn-disabled {
    background-color: $btn-disabled;

    &:hover {
        cursor: not-allowed;
        background-color: $btn-disabled;
    }
}