@import '../../../../styles/tm-mixins.scss';
@import '../../../../styles/tm-variables.scss';

.form-wrapper {
    @include centered-hor();
    .form-container {
        width: 50%;
    
        .register-form {
            width: 100%;
            @include flex-layout();
            .form-control {
                color: white;
                width: 100%;
                font-size: $fs-slightly-bigger;
                background-color: transparent;
                padding: $padding-s $padding-m;
            }
        }
    }
}