@import '../../../../styles/tm-mixins.scss';
@import '../../../../styles/tm-variables.scss';

.exchange-offer-tile {
    @include container();
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}