@import '../../../../styles/tm-mixins.scss';
@import '../../../../styles/tm-variables.scss';

.form-wrapper {
    min-height: 70vh;
    @include centered-hor();
    .form-container {
        width: max(40%, 350px);
    
        .register-form {
            width: 100%;
            @include flex-layout();
            .form-control {
                @include form-input($fs-slightly-bigger);
                width: 100%;
            }
        }

        .sub-link {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}