@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// colors
$main-color-dark: #d44c11;
$main-color-light: #fd5611;
$container-dark-color: #333;
$page-bg: black;
$btn-disabled: #7e2d0a;
$link-hover-color: #2ab9a3;

// fonts
$open-sans: "Open Sans", sans-serif;

// fonts colors
$sub-text-color: lightgrey;

// defaults
$default-padding: 1rem;
$default-gap: 1rem;

// widths
$max-content-width: 1400px;
$content-width: min(100%, $max-content-width);

// font-sizes
$fs-tiny: 10px;
$fs-smaller: 12px;
$fs-small: 14px;
$fs-normal: 16px;
$fs-slightly-bigger: 18px;
$fs-big: 20px;
$fs-bigger: 24px;
$fs-large: 28px;
$fs-huge: 32px;
$fs-biggest: 48px;

// paddings
$padding-s: .25em;
$padding-m: .5em;
$padding-l: 1em;
$padding-xl: 1.5em;
$padding-xxl: 2em;

// border-radius
$br-s: 2px;
$br-m: 4px;
$br-l: .5em;
$br-xl: 1rem;