<footer class="footer">
    <div class="content-wrapper">
        <tm-logo class="logo"></tm-logo>
        <pre class="info">
            ATTM.pl to miejsce, gdzie każdy za darmo może wystawić swoje produkty na sprzedaż lub wymianę.
            Ma to na celu zapobiec wyrzucaniu niepotrzebnych Tobie rzeczy, które mogą przydać się innym.
            W zamian możesz otrzymać coś co przyda się Tobie.
            Możliwe są wymiany 1:1, wymiany z dopłatą, oraz wiele innych.
            Nie wyrzucaj rzeczy tylko dołącz do ATTM.
        </pre>
        <div class="socials">
            <span>Obserwuj nas:</span>
            <div class="links">
                <a class="social-link" href="https://www.facebook.com/" target="_blank">
                    <fa-icon [icon]="facebookIcon"></fa-icon>
                </a>
                <a class="social-link" href="https://www.instagram.com/" target="_blank">
                    <fa-icon [icon]="instagramIcon"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</footer>