<footer class="footer">
    <div class="content-wrapper">
        <tm-logo class="logo"></tm-logo>
        <p class="info">
            ATTM.pl is a place where anyone can list their products for sale or exchange for free. The goal is to
            prevent unnecessary items from being thrown away, as they may be useful to others. In return, you can get
            something that is useful to you. One-to-one exchanges, exchanges with additional payment, and many other
            options are possible. Don't throw things away, just join ATTM.
        </p>
        <div class="socials">
            <span>Follow us:</span>
            <div class="links">
                <a class="social-link" href="https://www.facebook.com/" target="_blank">
                    <fa-icon [icon]="facebookIcon"></fa-icon>
                </a>
                <a class="social-link" href="https://www.instagram.com/" target="_blank">
                    <fa-icon [icon]="instagramIcon"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</footer>
