<div class="offer-tile">
    <section class="image-section">
        <img [src]="getImagePath()" class="image" alt="">
    </section>
    <section class="data-section">
        <h2 class="offer-title">
            {{offer.title}}
        </h2>
        <span class="info-with-icon">
            <fa-icon [icon]="moneyIcon"></fa-icon> 
            {{offer.price}}$
        </span>
        <span class="info-with-icon date-created">
            <fa-icon [icon]="calendarIcon"></fa-icon> 
            since: {{offer.dateCreated}}
        </span>
    </section>
    <section class="actions-section" *ngIf="!noActions">
        <tm-button 
            *ngFor="let action of actionsConfig" 
            [text]="action.text" 
            [isAlt]="action.isAlt"
            (onClick)="action.onClick()">
        </tm-button>
    </section>
</div> 
